@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

:root {
  --ink-100: #f8f8f8;
  --blue-100: #dde1ee;
  --blue-600: #3e5bc4;
  --red-100: #f2e1e1;
  --pink-600: #ca3b57;
}

body,
input {
  font-family: 'Noto Sans', sans-serif;
  background-color: #f3f3f3;
}

body {
  min-height: 100vh;
}
