<template>
  <input
    ref="input"
    type="text"
    v-on="listeners"
    @input="$emit('input', $event.target.value)"
    :value="value"
  />
</template>

<script>
export default {
  name: 'BaseTextInput',
  props: {
    autofocus: Boolean,
    value: [String, Number]
  },
  computed: {
    listeners() {
      // eslint-disable-next-line
      const { input, ...rest } = this.$listeners;
      return rest;
    }
  },
  mounted() {
    if (this.autofocus) this.$refs.input.focus();
  }
};
</script>

<style scoped>
input {
  background: white;
  padding: 8px;
  border: 1px solid var(--ink-100);
  border-radius: 8px;
}
input::placeholder {
  color: #babfc7;
}
input:focus {
  outline: none;
  box-shadow: 0px 4px 8px -2px #1b2e5e0a;
}
</style>
