<template>
  <ul ref="itemsList">
    <li
      v-for="(item, index) in items"
      :key="item.id"
      :class="{ 'active-item': value === index }"
      @mousedown.prevent=""
      @click="$emit('clickItem', item.id)"
    >
      {{ item.label }}
    </li>
  </ul>
</template>

<script>
export default {
  name: 'List',
  props: { value: [Number, null], items: Array },
  watch: {
    value(val) {
      if (val >= this.items.length) this.$emit('input', 0);
      else if (val < 0) this.$emit('input', this.items.length - 1);
      this.scrollItemIntoView();
    }
  },
  data() {
    return {};
  },
  methods: {
    scrollItemIntoView() {
      const parent = this.$refs.itemsList;
      const items = parent.getElementsByTagName('li');
      const item = items[this.value];
      if (!item) return;

      const parentRect = parent.getBoundingClientRect();
      const parentViewableArea = {
        height: parent.clientHeight,
        width: parent.clientWidth
      };

      const itemRect = item.getBoundingClientRect();
      const isViewable =
        itemRect.top >= parentRect.top &&
        itemRect.bottom <= parentRect.top + parentViewableArea.height;

      if (!isViewable) {
        const scrollTop = itemRect.top - parentRect.top;
        const scrollBot = itemRect.bottom - parentRect.bottom;
        if (Math.abs(scrollTop) < Math.abs(scrollBot)) {
          parent.scrollTop += scrollTop;
        } else {
          parent.scrollTop += scrollBot;
        }
      }
    }
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow: auto;
}
li {
  transition: background-color 0.2s;
  padding: 8px;
  border-radius: 4px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
li:hover {
  background-color: #eee;
  cursor: pointer;
}
li.active-item:not(:hover) {
  background-color: var(--ink-100);
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: #ccc 0px 0px 5px inset;
  }

  ::-webkit-scrollbar-thumb {
    background: #ddd;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
}
</style>
