<template>
  <div>
    <div class="tags-parent" ref="tagsParent">
      <BaseTextInput
        placeholder="Add Tags..."
        type="search"
        class="is-fullwidth is-size-6"
        v-model="inputText"
        v-click-outside="hideResults"
        @input="filterTags"
        @click="showResults"
        @focus="showResults"
        @blur.prevent="hideResults"
        @keydown.down="activeItemIndex += 1"
        @keydown.up="activeItemIndex -= 1"
        @keydown.esc="hideResults"
        @keydown.enter="selectTag()"
      />
      <transition name="fade" mode="out-in">
        <div v-if="resultsVisible" class="tags-suggestions-box is-fullwidth">
          <List
            v-model="activeItemIndex"
            :items="filteredTags"
            @clickItem="selectTag"
          />
          <div
            v-if="!filteredTags.length"
            class="has-text-grey has-text-centered"
          >
            {{ isFetching ? 'Loading...' : 'No Items' }}
          </div>
        </div>
      </transition>
    </div>
    <div class="selected-tags-container" ref="resultsContainer">
      <button
        v-for="tag in selectedTags"
        :key="tag.id"
        @click="deleteTag(tag.id)"
        aria-keyshortcuts="Delete"
        aria-label="Remove tag"
      >
        {{ tag.label }}
      </button>
    </div>
  </div>
</template>

<script>
import BaseTextInput from '@/components/BaseTextInput';
import List from '@/components/List';

export default {
  name: 'TagInput',
  components: { BaseTextInput, List },
  data() {
    return {
      inputText: '',
      resultsVisible: false,
      activeItemIndex: 0,
      tags: [],
      selectedTags: [],
      filteredTags: []
    };
  },
  methods: {
    showResults() {
      this.activeItemIndex = 0;
      this.resultsVisible = true;
      if (!this.inputText) this.filteredTags = this.tags;
    },
    hideResults(evt) {
      if (evt.target === this.$refs.tagsParent) {
        return;
      }
      this.resultsVisible = false;
    },
    selectTag(id) {
      if (id == null && this.activeItemIndex != null) {
        id = this.filteredTags[this.activeItemIndex]?.id;
      }
      if (!id) id = this.inputText;
      let alreadySelected = !!this.selectedTags.find(t => t.id === id);
      if (alreadySelected) return;
      let tag = this.filteredTags.find(i => i.id === id);
      if (!tag) {
        tag = { id: this.inputText.replace(/\s/g, '-'), label: this.inputText };
      }
      this.selectedTags.push(tag);
      this.$emit('input', this.selectedTags);
    },
    getTags() {
      this.isFetching = true;
      this.$axios
        .get('/api/tags')
        .then(({ data }) => {
          this.tags = data;
          if (this.resultsVisible) this.filterTags();
        })
        .finally(() => {
          this.isFetching = false;
        });
    },
    deleteTag(id) {
      let tagIndex = this.selectedTags.findIndex(t => t.id === id);
      this.selectedTags.splice(tagIndex, 1);
    },
    async filterTags() {
      this.resultsVisible = true;
      const result = [];
      this.tags.forEach(tag => {
        let searchPhrase = this.inputText.replace(/\s/g, '');
        let regex = new RegExp(
          '.*' + searchPhrase.split('').join('.*') + '.*',
          'i'
        );
        if (regex.test(tag.label)) result.push(tag);
      });
      this.filteredTags = result;
    }
  },
  mounted() {
    this.getTags();
  }
};
</script>

<style scoped>
.is-fullwidth {
  width: 100%;
}
.tags-parent {
  position: relative;
}
.tags-suggestions-box {
  position: absolute;
  top: calc(100% + 8px);
  border-radius: 8px;
  padding: 8px;
  background: white;
  box-shadow: 0px 4px 8px -2px #1b2e5e0a;
}

.fade-enter-active {
  transition: all 0.2s;
}
.fade-leave-active {
  transition: all 0.2s;
}
.fade-enter {
  opacity: 0;
  top: 20px;
}
.fade-enter-to {
  opacity: 1;
  top: calc(100% + 8px);
}
.fade-leave-to {
  opacity: 0;
  top: 20px;
}
.selected-tags-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}
.selected-tags-container > button {
  padding: 2 px 8px;
  border: none;
  font-size: 1rem;
  border-radius: 500px;
  background-color: var(--blue-100);
  color: var(--blue-600);
  margin-bottom: 8px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selected-tags-container > button:hover {
  background-color: var(--red-100);
  color: var(--pink-600);
  cursor: pointer;
}
.selected-tags-container > button:not(:last-child) {
  margin-right: 8px;
}
</style>
