<template>
  <div id="app" class="container pt-6 px-3">
    <div class="columns is-mobile is-centered">
      <div class="column is-three-quarters-mobile is-half-tablet is-4-desktop">
        <TagInput />
      </div>
    </div>
  </div>
</template>

<script>
import TagInput from '@/components/TagInput';

export default {
  name: 'App',
  components: { TagInput }
};
</script>

<style></style>
